body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 790px;
    gap: 10px;
    height: fit-content;
}

#wrapper div {
    background-color: burlywood;
    width: 40px;
    height: 40px;
}

#wrapper div:hover {
    background-color: brown;
}

button {
    width: 200px;
    height: 60px;
    font-size: 32px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
}